<h4 class="titulo"><i class="fas fa-flag"></i> Marcas
    <div class="float-right">

    </div>
</h4>
<div class="row">
    <mat-form-field class="col-12">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="col-12 mat-elevation-z8" multiTemplateDataRows>

        <!-- Nome Column -->
        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Fundador Column -->
        <ng-container matColumnDef="Fundador">
            <th mat-header-cell *matHeaderCellDef> Fundador </th>
            <td mat-cell *matCellDef="let element"> {{element.owner.name}} </td>
        </ng-container>

        <!-- Nº Participantes Column -->
        <ng-container matColumnDef="Nº Participantes">
            <th mat-header-cell *matHeaderCellDef> Nº Participantes </th>
            <td mat-cell *matCellDef="let element"> {{element.members.length}} </td>
        </ng-container>

        <!-- Detalhes Column -->
        <ng-container matColumnDef="Detalhes">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="float-right">
                <button mat-mini-fab color="primary" (click)="onDetailButtonClick(element)" matTooltip="Detalhes">
                    <i class="fas fa-search fa-lg"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<notifier-container></notifier-container>