<h2 class="titulo"><i class="fas fa-calendar-alt"></i> Meus Eventos

    <div class="float-right">
        <button mat-raised-button color="primary" class="float-right" (click)="openDialog()">Novo Evento</button>
    </div>
</h2>
<div class="row">
    <table mat-table [dataSource]="dataSource" class="col-12 mat-elevation-z8" multiTemplateDataRows>
        <!-- Nome Column -->
        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef> Nome do Local </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Nº Participantes Column -->
        <ng-container matColumnDef="Data Inicio">
            <th mat-header-cell *matHeaderCellDef> Data Inicial </th>
            <td mat-cell *matCellDef="let element"> {{element.start | date: 'dd/MM/yyyy HH:mm'}} </td>
        </ng-container>


        <ng-container matColumnDef="Data Fim">
            <th mat-header-cell *matHeaderCellDef> Data Fim </th>
            <td mat-cell *matCellDef="let element"> {{element.end | date: 'dd/MM/yyyy HH:mm'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Situacao">
            <th mat-header-cell *matHeaderCellDef> Situação </th>
            <td mat-cell *matCellDef="let element">
                <span class="font-weight-bold" [ngClass]="{
                        'status-aberto': element.status == 'EM ABERTO',
                        'status-pronto': element.status == 'PRONTO',
                        'status-andamento': element.status == 'EM ANDAMENTO',
                        'status-cancelado': element.status == 'CANCELADO',
                        'status-realizado': element.status == 'REALIZADO'
                        }">
                    {{element.status}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="Detalhes">
            <th mat-header-cell *matHeaderCellDef> Detalhes </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Detalhes" (click)="onOpenDetailsButtonClick(element)">
                    <mat-icon>open_in_new</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<notifier-container></notifier-container>