@import './src/app/app.component.scss';

.status-aberto {
    color: #d55a00 !important;
}

.status-pronto {
    color: #039103 !important;
}

.status-andamento {
    color: #12A0CF !important;
}

.status-cancelado {
    color: #A91C1C !important;
}

.status-realizado {
    color: #4b5948 !important;
}