<div class="card o-hidden shadow-lg my-1">
    <div class="card-body p-0">
        <h3 class="py-4 px-lg-5 justify-content-center titulo">
            <i class="fas fa-address-card"></i> Artistas Disponíveis para o evento
        </h3>
        <div class="row justify-content-center">
            <div class="col px-lg-5">
                <h6 class="font-weight-bold text-dark">
                    Evento Selecionado
                </h6>
                <h5 class="font-weight-bold text-success">
                    {{event.name}}&nbsp;
                </h5>
            </div>
            <div class="col px-lg-5">
                <h6 class="font-weight-bold text-dark">
                    Data e duração do evento
                </h6>
                <h6 class="font-weight-bold">
                    <label class="text-info">
                        Início:&nbsp;
                    </label>
                    <span class="text-dark">
                        {{event.dthrInit | date: 'dd/MM/yyyy HH:mm'}}&nbsp;
                    </span>
                    <label class="text-info">Fim:&nbsp;</label>
                    <span class="text-dark">
                        {{event.dthrFinal | date: 'dd/MM/yyyy HH:mm'}}
                    </span>
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="card o-hidden shadow-lg my-1">
    <div class="card-body p-0">
        <table mat-table [dataSource]="dataSource" class="col-12 mat-elevation-z8" multiTemplateDataRows>

            <ng-container matColumnDef="Nome">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Gênero Principal">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Gênero Principal
                </th>
                <td mat-cell *matCellDef="let element"> {{element.principalGenre}} </td>
            </ng-container>

            <ng-container matColumnDef="Distância até o Evento">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Distância até o
                    Evento
                </th>
                <td mat-cell *matCellDef="let element"> &nbsp;{{element.distanceEventKm}} km
                    <span style="float:left;"><i class="fa fa-map-marker"></i></span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Maior Oferta">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Maior Oferta </th>
                <td mat-cell *matCellDef="let element">{{element.minimumOffer | currencyBrazil }}</td>
            </ng-container>

            <ng-container matColumnDef="Score">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Score </th>
                <td mat-cell *matCellDef="let element">
                    <span class="font-weight-bold h6" [ngClass]="{'text-success': element.score.scorePoint >= 7, 
                            'text-warning': element.score.scorePoint > 4 && element.score.scorePoint < 7,
                            'text-danger': element.score.scorePoint <= 4}">
                        {{element.score.scorePoint}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Dar Lance">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Dar Lance </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button color="success" aria-label="Dar Lance" (click)="handleSendOffer(row)">
                        <mat-icon>attach_money</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="SetList">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> SetList </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button aria-label="Visualizar SetList">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="text-secondary" [ngClass]="{'back-danger': row.score.scorePoint <= 4, 
                        'back-success': row.score.scorePoint >= 7,
                        'back-info': row.score.scorePoint > 4 && row.score.scorePoint < 7}"></tr>
        </table>
    </div>
</div>

<notifier-container></notifier-container>