.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.back-info {
  color: #1c606a;
  background-color: #edfafc;
  border-color: #c7ebf1;
}

.back-danger {
  color: #78261f;
  background-color: #ffeeed;
  border-color: #f8ccc8;
}

.back-success {
  color: #0f6848;
  background-color: #edfaf6;
  border-color: #bff0de;
}