<div mat-dialog-title>
    <div class="row">
        <div class="col-10">
            <i class="fas fa-calendar-plus"></i> Cadastro de Evento
        </div>
        <div class="col-2">
            <a color="primary" class="float-right" [mat-dialog-close]="false" aria-label="Fechar" matTooltip="Fechar">
                <i class="fas fa-times fa-xs"></i>
            </a>
        </div>
    </div>
</div>

<div mat-dialog-content>
    <div class="row">
        <mat-form-field class="col-6">
            <input matInput type="text" placeholder="Nome do Evento" [(ngModel)]="Event.name" />
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field>
                <mat-label>Local</mat-label>
                <mat-select name="eventPlace" (selectionChange)="onEventSelectChanged($event.value)">
                    <mat-option *ngFor="let eventPlace of EventPlaces" [value]="eventPlace.id">
                        {{eventPlace.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6 align-bottom">
            <a mat-raised-button color="primary" (click)="openLocais()">Cadastrar um local de evento</a>
        </div>
    </div>
    <br/>
    <h6 class="col mr-2 subTitulo font-weight-bold text-dark">Data e duração do evento</h6>
    <div class="row">
        <mat-form-field class="col-6">
            <input matInput type="datetime-local" placeholder="Início do evento" [(ngModel)]="Event.dthrInit" />
        </mat-form-field>
        <mat-form-field class="col-6">
            <input matInput type="datetime-local" placeholder="Fim do evento" [(ngModel)]="Event.dthrFinal" />
        </mat-form-field>
    </div>
</div>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onAddEventButtonClicked()">Adicionar</button>
</mat-dialog-actions>

<notifier-container></notifier-container>