<div mat-dialog-title></div>

<div mat-dialog-content>
    <div class="row">
        <div class="col-12">
            {{Message}}
        </div>
    </div>
</div>

<br/>

<div mat-dialog-actions class="float-right">
    <button mat-button color="warn" [mat-dialog-close]="false">{{CancelMessage}}</button>
    <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>{{ConfirmMessage}}</button>
</div><br/>