<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <i class="fas fa-guitar"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Cast <sup>ON</sup></div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item" [ngClass]="{active: selectedComponent == item.id}" *ngFor="let item of menu">
        <hr class="sidebar-divider my-0" *ngIf="item.divider">
        <a class="nav-link" role="button" (click)="mudarComponente(item.id)" *ngIf="!item.divider">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{{item.label}}</span>
        </a>
    </li>

    <li class="nav-item dropdown" *ngIf="typeUser == 'C'">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eventos
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <!--    <a class="dropdown-item waves-light" role="button" (click)="openDialog()">Cadastrar Novo Evento</a> -->
            <a class="dropdown-item waves-light" role="button" (click)="mudarComponente('evento/meus-eventos')">Acompanhar Meus Eventos</a>
        </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>