<div mat-dialog-title>
    <div class="row">
        <div class="col-10">
            <h3>Dados da Marca</h3>
        </div>
        <div class="col-2">
            <a color="primary" class="float-right" [mat-dialog-close]="false" aria-label="Fechar" matTooltip="Fechar">
                <i class="fas fa-times fa-xs"></i>
            </a>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Nome" [(ngModel)]="brand.name" disabled />
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Gênero" [(ngModel)]="genres" disabled />
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Fundador" [(ngModel)]="brand.owner.name" disabled />
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Score" [(ngModel)]="brand.score.scorePoint" disabled />
            </mat-form-field>
        </div>
    </div>

    <h5>Integrantes</h5>
    <table mat-table [dataSource]="dataSource" class="col-12 mat-elevation-z8" multiTemplateDataRows>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="Seleciona">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Nome Column -->
        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- E-mail Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef>E-mail</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <!-- Detalhes Column -->
        <ng-container matColumnDef="Opções">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="float-right">
                <!-- <button mat-mini-fab color="primary" (click)="onCommentButtonClick(element)" aria-label="Mandar mensagem" class="maRightSm" matTooltip="Bater um papo">
                        <i class="far fa-comment fa-lg"></i>
                </button> -->
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
    <br/>
</div>

<mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="onAskToJoinButtonClick()" cdkFocusInitial *ngIf="showButtons">Pedir para participar</button>
</mat-dialog-actions>