<div id="wrapper">

    <app-menu (mudaComponente)="mudarComponente($event)" [selectedComponent]='componente'></app-menu>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
            <app-topper></app-topper>
            <app-dashboard *ngIf="componente == 'dashboard'"></app-dashboard>
            <app-calendario *ngIf="componente == 'calendario'"></app-calendario>
            <app-detalhes-evento *ngIf="componente == 'evento/detalhes-evento'"></app-detalhes-evento>
            <app-adicionar-locais *ngIf="componente == 'adicionar-locais'"></app-adicionar-locais>
            <app-adicionar-evento *ngIf="componente == 'evento/adicionar'"></app-adicionar-evento>
            <app-meus-eventos *ngIf="componente == 'evento/meus-eventos'" (mudaComponente)="mudarComponente($event)"></app-meus-eventos>
            <app-artistas-disponiveis *ngIf="componente == 'lance/artistas-disponiveis'" (mudaComponente)="mudarComponente($event)"></app-artistas-disponiveis>
            <app-enviar-lance *ngIf="componente == 'lance/enviar-lance'"></app-enviar-lance>
            <app-lances-recebidos *ngIf="componente == 'lance/lances-recebidos'"></app-lances-recebidos>
            <app-modal-lance-recebido *ngIf="componente == 'lance/modal-lance-recebido'"></app-modal-lance-recebido>
            <app-artistas *ngIf="componente == 'artistas'" (mudaComponente)="mudarComponente($event)"></app-artistas>
            <app-adiciona-artista *ngIf="componente == 'artistas/adicionar'"></app-adiciona-artista>
            <app-marcas *ngIf="componente == 'marcas'" (mudaComponente)="mudarComponente($event)"></app-marcas>
            <app-minhas-marcas *ngIf="componente == 'marcas/minhas'" (mudaComponente)="mudarComponente($event)"></app-minhas-marcas>
            <app-adiciona-marca *ngIf="componente == 'marcas/adicionar'"></app-adiciona-marca>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Cast ON - 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>