<div class="row justify-content-center">
    <div class="card-body p-0 ">
        <br />
        <div class="row">
            <div class="col mr-2 col-md-12">
                <h4 class="col mr-2 titulo text-dark">
                    <a color="primary" class="float-right" [mat-dialog-close]="false" aria-label="Fechar" matTooltip="Fechar">
                        <i class="fas fa-times fa-xs"></i>
                    </a>
                    &nbsp;&nbsp;Detalhes do Evento
                    <br /> <br />
                    <label class="col-6 font-weight-bold">
						{{event.name}}
					</label>
                </h4>
                <hr />
                <div class="col mr-2 subTitulo text-dark">
                    <h5 class="font-weight-bold">Local do evento</h5>
                    <label class="col mr-2 row">
						<label class="font-weight-bold">CEP:&nbsp;</label> {{event.eventplace.address.zipcode}}&nbsp;
                    <label class="font-weight-bold">Endereço:&nbsp;</label> {{event.eventplace.address.street}}&nbsp;
                    <label class="font-weight-bold">Nº:&nbsp;</label> {{event.eventplace.address.number}}&nbsp;
                    </label>
                    <label class="col mr-2 row">
						<label class="font-weight-bold">Cidade:&nbsp;</label> {{event.eventplace.address.city}}&nbsp;
                    <label class="font-weight-bold">UF:&nbsp;</label> {{event.eventplace.address.state}}&nbsp;
                    </label>
                    <label class="col mr-2 row">
						<label class="font-weight-bold">Complemento:&nbsp;</label> {{event.eventplace.address.complement}}&nbsp;
                    </label>
                </div>
                <hr />
                <div class="col mr-2 subTitulo">
                    <h5 class="font-weight-bold text-dark">Data e duração do evento</h5>
                    <label class="font-weight-bold text-dark">Início:&nbsp;</label> {{event.dthrInit | date: 'dd/MM/yyyy HH:mm'}}&nbsp;
                    <label class="font-weight-bold text-dark">Fim:&nbsp;</label> {{event.dthrFinal | date: 'dd/MM/yyyy HH:mm'}}
                    <br/>
                </div>
                <div mat-dialog-actions>
                    <button mat-button color="warn" [mat-dialog-close]="false">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</div>