<h4 class="titulo">
    <i class="fas fa-flag"></i> Cadastro de Marca</h4>

<div class="row">
    <mat-form-field class="col-6">
        <input matInput type="text" placeholder="Nome" [(ngModel)]="Nome" />
    </mat-form-field>
    <mat-form-field class="col-3">
        <mat-label>Gênero musical</mat-label>
        <mat-select [(value)]="Genero" (selectionChange)="selecionaGenero()">
            <mat-option [value]="item.id" *ngFor="let item of Generos">{{item.label}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="col-3">
        <input matInput type="text" placeholder="Data de Criação" [(ngModel)]="DataCriacao" mask="00/0000" [dropSpecialCharacters]="false" />
    </mat-form-field>
    <mat-form-field class="col-12">
        <input matInput type="text" [(ngModel)]="Descricao" name="Descricao" placeholder="Descricao" />
    </mat-form-field>
</div>
<br />
<div class="row">
    <div class="col-12">
        <button mat-raised-button color="primary" class="col-2 float-right" >Adicionar</button>
    </div>
</div>

<notifier-container></notifier-container>