.val-success {
    color: green !important;
 }

.val-refused {
    color: red !important;
}

.val-info {
    color: #12A0CF !important;
}

.back-info {
    color: #1c606a;
    background-color: #edfafc;
    border-color: #c7ebf1;
}

.back-danger {
    color: #78261f;
    background-color: #ffeeed;
    border-color: #f8ccc8;
}

.back-success {
    color: #0f6848;
    background-color: #edfaf6;
    border-color: #bff0de;
}