<div class="card o-hidden border-3 shadow-lg my-1">
    <div class="card-body p-0">
        <h3 class="py-4 px-lg-5 justify-content-center titulo">
            <i class="fas fa-calendar"></i> Lances recebidos
        </h3>
        <div class="row justify-content-center">
            <div class="col px-lg-5">
                <h6 class="font-weight-bold text-dark">
                    Marca Selecionada
                </h6>
                <h5 class="font-weight-bold text-success">
                    {{brand.name}}&nbsp;
                </h5>
            </div>
            <div class="col px-lg-5">
                <h6 class="font-weight-bold text-dark">
                    Selecione a Data:
                </h6>
                <mat-form-field appearance="fill" style="width: 250px;">
                    <mat-label>Dias Livres</mat-label>
                    <mat-select [(ngModel)]="scheduleId" name="schedule"
                        (selectionChange)="handleChangeSchedule($event.value)">
                        <mat-option *ngFor="let scheduleItem of scheduleList" [value]="scheduleItem.id">
                            {{scheduleItem.dthrInit | date: 'dd/MM/yyyy' }} -
                            {{scheduleItem.dthrInit | date: 'HH:mm' }} -
                            {{scheduleItem.dthrFinal | date: 'HH:mm' }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="card o-hidden border-3 shadow-lg my-1">
    <div class="card-body p-0">
        <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0"
            class="col-12 mat-elevation-z8 myTable" multiTemplateDataRows>

            <ng-container matColumnDef="Nome do Evento">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Nome do Evento
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.event.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Local">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Local
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.event.eventplace.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Cidade">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Cidade
                </th>
                <td mat-cell *matCellDef="let element">
                    &nbsp;{{element.event.eventplace.address.city}}
                    <span style="float:left;"><i class="fa fa-map-marker"></i></span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Horário">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Horário </th>
                <td mat-cell *matCellDef="let element">
                    {{element.event.dthrInit | date: 'HH:mm' }} - {{element.event.dthrFinal | date: 'HH:mm' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Último Lance">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Último Lance </th>
                <td mat-cell *matCellDef="let element" class="font-weight-bold" [ngClass]="{'text-danger': element.auctionStatus === 'REPROVED', 
                                        'val-success': element.auctionStatus === 'ACCEPT',
                                        'val-info': element.auctionStatus === 'SENT'}">
                    {{element.lastOffer.value | currencyBrazil }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Lance Aceito">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Lance Aceito </th>
                <td mat-cell *matCellDef="let element" class="justify-content-center font-weight-bold">
                    <span class="val-success" *ngIf="element.lastOffer.accept==true">
                        <mat-icon>check_circle</mat-icon> Aceito
                    </span>
                    <span class="val-refused"
                        *ngIf="element.lastOffer.accept==false && element.auctionStatus === 'REPROVED'">
                        <mat-icon>unpublished</mat-icon> Recusado
                    </span>
                    <span class="val-info"
                        *ngIf="element.lastOffer.accept==false && element.auctionStatus !== 'REPROVED'">
                        <mat-icon>visibility</mat-icon> Novo
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Visualizar Lance">
                <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-dark h6"> Visualizar Lance
                </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button color="success" aria-label="Dar Lance" (click)="handleSeeOffer(row)">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="text-secondary" [ngClass]="{'back-danger': row.auctionStatus === 'REPROVED', 
                        'back-success': row.auctionStatus === 'ACCEPT',
                        'back-info': row.auctionStatus === 'SENT'}"></tr>
        </table>
        <div class="alert alert-info" *ngIf="dataSource.data.length === 0" role="alert">
            <mat-icon matSuffix><i class="fa fa-exclamation-circle" style="color: lightblue;" aria-hidden="false"></i>
            </mat-icon>
            Nenhum lance encontrado
        </div>
    </div>
</div>


<notifier-container></notifier-container>