<div mat-dialog-title>
    <div class="row">
        <div class="col-10">
            <h3>Dados da Marca</h3>
        </div>
        <div class="col-2">
            <a color="primary" class="float-right" [mat-dialog-close]="false" aria-label="Fechar" matTooltip="Fechar">
                <i class="fas fa-times fa-xs"></i>
            </a>
        </div>
    </div>
</div>
<div class="justify-content-center col-md-12">
    <button mat-raised-button color="primary" class="col-md-5 ml-4 mr-4" (click)="onChangeComponentButtonClicked('calendario')">
        Calendário
    </button>

    <button mat-raised-button color="primary" class="col-md-5 ml-4 mr-4" (click)="onChangeComponentButtonClicked('lance/lances-recebidos')">
        Lances Recebidos
    </button>

</div>
<br />
<div mat-dialog-content>
    <div class="row" *ngIf="brand">
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Nome" [(ngModel)]="brand.name" [disabled]="Type == 'OPENING'" />
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field>
                <mat-label>Gênero</mat-label>
                <mat-select [(value)]="genre.id" (selectionChange)="selecionaGenero()" [disabled]="Type == 'OPENING'">
                    <mat-option [value]="item.id" *ngFor="let item of Genres">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Fundador" [(ngModel)]="brand.owner.name" [disabled]="Type == 'OPENING'" />
            </mat-form-field>
        </div>
    </div>

    <h5>Integrantes Atuais</h5>
    <table mat-table [dataSource]="dataSourceMembers" class="col-12 mat-elevation-z8" multiTemplateDataRows>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="Seleciona">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Nome Column -->
        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{element.name}} </td>
        </ng-container>

        <!-- Função Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <!-- Detalhes Column -->
        <ng-container matColumnDef="Opções">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="float-right">
                <div *ngIf="element.Approved">
                    <button mat-mini-fab color="warn" (click)="onRemoveMemberButtonClick(element)" aria-label="Remover" matTooltip="Remover integrante da Marca">
                        <i class="fas fa-user-times fa-lg"></i>
                    </button>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
    <br />

    <h5>Aprovações Pendentes</h5>
    <table mat-table [dataSource]="dataSourceApproval" class="col-12 mat-elevation-z8" multiTemplateDataRows>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="Seleciona">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Nome Column -->
        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{element.name}} </td>
        </ng-container>

        <!-- Função Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- Detalhes Column -->
        <ng-container matColumnDef="Opções">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="float-right">
                <div *ngIf="!element.Approved">
                    <button mat-mini-fab color="primary" (click)="onApproveMemberButtonClick(element)" aria-label="Aprovar" class="maRightSm" matTooltip="Aprovar integrante na Marca">
                        <i class="far fa-thumbs-up fa-lg"></i>
                    </button>
                    <button mat-mini-fab color="accent" (click)="onDisapproveMemberButtonClick(element)" aria-label="Reprovar" matTooltip="Reprovar integrante na Marca">
                        <i class="far fa-thumbs-down fa-lg"></i>
                    </button>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
    <br />
</div>


<br />
<div class="justify-content-center col-md-12" *ngIf="Type == 'EDITING'">
    <button mat-button color="primary" class="col-md-5 ml-4 mr-4" [mat-dialog-close]="onEditButtonClicked()" cdkFocusInitial>Editar</button>
    <button mat-button color="warn" class="col-md-5 ml-4 mr-4" [mat-dialog-close]="false">Cancelar</button>
</div>
<br />