<div class="row">
	<div class="col-md-12">
		<h2>
			<a color="primary" class="float-right" [mat-dialog-close]="false" aria-label="Fechar" matTooltip="Fechar" (click)="closeModal()">
				<i class="fas fa-times fa-xs"></i>
			</a>
		</h2>
		<h2 class="titulo col mr-1 font-weight-bold text-black">Agenda do mês</h2>
		<br />
		<h6 class="subTitulo col mr-1 font-weight-bold text-dark">
			<i class="fas fa-info-circle"></i> Clique em um evento para ver informações detalhadas
			<button mat-raised-button color="primary" class="float-right" (click)="addFreeDay()">
				Adicionar horário livre
			</button>
		</h6>
		<br />
		<div>
			<full-calendar defaultView="dayGridMonth" eventTextColor="white" displayEventEnd="true" [locale]="locale"
				[plugins]="calendarPlugins" [events]="events" (eventClick)="handleClickEvent($event)"
				(eventMouseEnter)="handleMouseOver($event)">
			</full-calendar>
		</div>
	</div>
</div>