<h4 class="titulo"><i class="fas fa-flag"></i> Minhas Marcas
    <div class="float-right">
        <button mat-raised-button color="primary" class="float-right" (click)="adicionar()">Adicionar</button>
    </div>
</h4>
<div class="row">
    <mat-form-field class="col-12">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="col-12 mat-elevation-z8" multiTemplateDataRows>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="Seleciona">
            <th mat-header-cell *matHeaderCellDef>

            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Nome Column -->
        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- Nº Participantes Column -->
        <ng-container matColumnDef="Nº Participantes">
            <th mat-header-cell *matHeaderCellDef>Nº Participantes</th>
            <td mat-cell *matCellDef="let element">{{element.members.length}}</td>
        </ng-container>

        <!-- Detalhes Column -->
        <ng-container matColumnDef="Detalhes">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="float-right">
                <button mat-mini-fab (click)="onEditButtonClick(element)" matTooltip="Editar" class="green maRightSm">
                    <i class="fas fa-edit"></i>                
                </button>
                <button mat-mini-fab color="primary" (click)="onOpenButtonClick(element)" matTooltip="Detalhes">
                    <i class="fas fa-search fa-lg"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
</div>

<notifier-container></notifier-container>