<div class="row justify-content-center">
    <div class="card-body p-0">
        <br />
        <div class="row">
            <div class="col mr-2 col-md-12">
                <h5 class="col mr-2 titulo font-weight-bold text-dark">
                    <a color="primary" class="float-right" [mat-dialog-close]="false" aria-label="Fechar" matTooltip="Fechar">
                        <i class="fas fa-times fa-xs"></i>
                    </a>
                    Evento Selecionado:
                    <span class="text-success">&nbsp;{{event.name}}</span>
                </h5>
                <hr />
                <div class="col mr-2 subTitulo text-dark">
                    <h5 class="font-weight-bold">
                        Artista Escolhido:
                        <span class="text-success">&nbsp;{{brand.name}}</span>
                    </h5>
                    <br />
                    <label class="col mr-2 row">
                        <label class="font-weight-bold">Distância em Km até o local do evento:&nbsp;</label>
                    <span style="float:left;"><i class="fa fa-map-marker"></i></span> &nbsp;{{brand.distanceEventKm}} km
                    </label>
                    <label class="col mr-2 row">
                        <label class="font-weight-bold">Gênero Principal:</label> &nbsp;{{brand.principalGenre}} &nbsp;&nbsp;&nbsp;
                    <label class="font-weight-bold">Score:</label>
                    <span class="font-weight-bold" [ngClass]="{'text-success': brand.score.scorePoint >= 7, 
                                          'text-warning': brand.score.scorePoint > 4 && brand.score.scorePoint < 7,
                                          'text-danger': brand.score.scorePoint <= 4}">
                            &nbsp;{{brand.score.scorePoint}}&nbsp;
                        </span>
                    </label>
                    <label class="col mr-2 row" *ngIf="highestOffer > 0">
                        <label class="font-weight-bold">Maior Oferta:&nbsp;</label>
                    <span class="font-weight-bold text-info" style="float:left;">
                            {{highestOffer | currencyBrazil }}&nbsp;
                        </span>
                    </label>
                    <label class="col mr-2 row" *ngIf="yourOffer > 0">
                        <label class="font-weight-bold">Sua última oferta:&nbsp;</label>
                    <span class="font-weight-bold" style="float:left;" [ngClass]="{'text-danger': yourOffer < highestOffer, 'text-success': yourOffer >= highestOffer}">
                            {{yourOffer | currencyBrazil }}&nbsp;
                        </span>
                    </label>
                </div>
                <hr />
                <div class="alert alert-success" role="alert" *ngIf="yourOffer >= highestOffer && highestOffer > 0">
                    <mat-icon matSuffix><i class="fa fa-exclamation-circle" style="color: green;" aria-hidden="false"></i>
                    </mat-icon>
                    Parabéns! Atualmente você é dono do maior lance para esta Banda/Artista
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="yourOffer < highestOffer">
                    <mat-icon matSuffix><i class="fa fa-exclamation-circle" style="color: red;" aria-hidden="false"></i>
                    </mat-icon>
                    Atenção! Esta Banda/Artista possui um lance em aberto no valor de
                    <span class="font-weight-bold"> {{highestOffer | currencyBrazil }} </span>
                </div>
                <div class="alert alert-info" role="alert" *ngIf="highestOffer == 0">
                    <mat-icon matSuffix><i class="fa fa-exclamation-circle" style="color: lightblue;" aria-hidden="false"></i>
                    </mat-icon>
                    Atenção! Esta Banda/Artista ainda não recebeu nenhum lance, seja o primeiro!
                </div>
                <div class="row">
                    <mat-form-field class="col-12 h5">
                        <input matInput currencyMask [(ngModel)]="newOffer" placeholder="Seu lance" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                    </mat-form-field>
                </div>
                <div class="justify-content-center">
                    <button mat-raised-button color="primary" class="col py-3 px-lg-5" (click)="handleSendOffer()"> 
                        <mat-icon>gavel</mat-icon> Enviar Lance
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<notifier-container></notifier-container>