<div mat-dialog-title>
    <div class="row">
        <div class="col-10">
            <h3><i class="fas fa-user"></i> Detalhes de Evento</h3>
        </div>
        <div class="col-2">
            <a color="primary" class="float-right" [mat-dialog-close]="false" aria-label="Fechar" matTooltip="Fechar">
                <i class="fas fa-times fa-xs"></i>
            </a>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <h4 class="col mr-2 titulo text-dark">
        <label class="col-6 font-weight-bold noPadH">
			{{Event.name}}
		</label>
        <button mat-raised-button color="primary" class="float-right" (click)="onSearchArtistButtonClick()" *ngIf="Event.statusEvent == 'OPEN'">Procurar Artistas para este Evento</button>
        <button mat-raised-button color="primary" class="float-right" (click)="onDetailBandButtonClick()" *ngIf="Event.bookingBy != null">Detalhes da Marca</button>
    </h4>
    <hr />
    <div class="subTitulo text-dark">
        <h5 class="font-weight-bold">Local do evento</h5>
        <div class="row">
            <label class="col-4"><span class="font-weight-bold">CEP:</span> {{Event.eventplace.address.zipcode}}</label>
            <label class="col-4"><span class="font-weight-bold">Endereço:</span> {{Event.eventplace.address.street}}</label>
            <label class="col-4"><span class="font-weight-bold">Nº:</span> {{Event.eventplace.address.number}}</label>
        </div>
        <div class="row">
            <label class="col-6"><span class="font-weight-bold">Cidade:</span> {{Event.eventplace.address.city}}</label>
            <label class="col-6"><span class="font-weight-bold">UF:</span> {{Event.eventplace.address.state}}</label>
        </div>
        <div class="row">
            <label class="col-12"><span class="font-weight-bold">Complemento:</span> {{Event.eventplace.address.complement}}</label>
        </div>
    </div>
    <hr />
    <div class="subTitulo">
        <h5 class="font-weight-bold text-dark">Data e duração do evento</h5>
        <div class="row">
            <label class="col-12"><span class="font-weight-bold text-dark">Início:</span> {{Event.dthrInit | date: 'dd/MM/yyyy HH:mm'}}</label>
            <label class="col-12"><span class="font-weight-bold text-dark">Fim:</span> {{Event.dthrFinal | date: 'dd/MM/yyyy HH:mm'}}</label>
        </div>
    </div>
</div>
<notifier-container></notifier-container>