<div class="row justify-content-center">
    <div class="card-body p-0 font-weight-bold ">
        <br />
        <div class="row">
            <div class="col mr-2 col-md-12">
                <h4 class="col mr-2 titulo text-dark">
                    <a color="primary" class="float-right" [mat-dialog-close]="false" aria-label="Fechar" matTooltip="Fechar">
                        <i class="fas fa-times fa-xs"></i>
                    </a>
                    &nbsp;Adicionar novo dia livre
                </h4>
                <br />
                <div class="col mr-2 subTitulo">
                    <label class="text-dark ">Data:&nbsp;
						<mat-form-field class="col-md-12">
							<input matInput type="date" [(ngModel)]="freeDay" />
						</mat-form-field>
					</label>
                </div>
                <div class="col mr-2 subTitulo">
                    <label class="text-dark ">Início:&nbsp;
						<mat-form-field class="col-md-12">
							<input matInput type="time" [(ngModel)]="startTime" />
						</mat-form-field>
					</label>
                    <label class="text-dark ">Fim:&nbsp;
						<mat-form-field class="col-md-12">
							<input matInput type="time" [(ngModel)]="endTime" />
						</mat-form-field>
					</label>
                    <div mat-dialog-actions>
                        <button mat-button color="warn" (click)="closeModal()">Cancelar</button> &nbsp;
                        <button mat-button color="primary" (click)="saveFreeDay()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>