<div class="row justify-content-center">
    <div class="card-body p-0">
        <br />
        <div class="row">
            <div class="col mr-2 col-md-12">
                <h5 class="col mr-2 titulo font-weight-bold text-dark">
                    <a color="primary" class="float-right" [mat-dialog-close]="false" aria-label="Fechar" matTooltip="Fechar">
                        <i class="fas fa-times fa-xs"></i>
                    </a>
                    <mat-icon>attach_money</mat-icon> Proposta Recebida
                </h5>
                <hr />
                <div class="col mr-2 subTitulo text-dark">
                    <h5 class="col mr-2 row titulo font-weight-bold text-dark">
                        Evento: <span class="text-success">&nbsp;{{event.name}}</span>
                    </h5>
                    <label class="col mr-2 row">
                        <label class="font-weight-bold">Local:&nbsp;</label> {{event.eventplace.name}}
                    </label>
                    <label class="col mr-2 row">
                        <label class="font-weight-bold">CEP:&nbsp;</label> {{address.zipcode | cep }}&nbsp;
                    <label class="font-weight-bold">Endereço:&nbsp;</label> {{address.street}}&nbsp;
                    <label class="font-weight-bold">Nº:&nbsp;</label> {{address.number}}&nbsp;
                    </label>
                    <label class="col mr-2 row">
                        <label class="font-weight-bold">Cidade:&nbsp;</label> {{address.city}}&nbsp;
                    <label class="font-weight-bold">UF:&nbsp;</label> {{address.state}}&nbsp;
                    </label>
                    <label class="col mr-2 row">
                        <label class="font-weight-bold">Complemento:&nbsp;</label> {{address.complement || '-'}}&nbsp;
                    </label>
                </div>
                <hr />
                <div class="col mr-2 subTitulo">
                    <h5 class="font-weight-bold text-dark">Data e duração do evento</h5>
                    <label class="font-weight-bold text-dark">Início:&nbsp;</label> {{event.dthrInit | date: 'dd/MM/yyyy HH:mm'}}&nbsp;
                    <label class="font-weight-bold text-dark">Fim:&nbsp;</label> {{event.dthrFinal | date: 'dd/MM/yyyy HH:mm'}}
                    <br />
                </div>
                <div class="col mr-2 subTitulo">
                    <h5 class="font-weight-bold text-dark">
                        Lance Recebido
                        <span [ngClass]="{'text-danger': auction.auctionStatus === 'REPROVED', 
                                                  'val-success': auction.auctionStatus === 'ACCEPT',
                                                  'val-info': auction.auctionStatus === 'SENT'
                                                }">
                            {{offer.value | currencyBrazil }}&nbsp;
                        </span>
                    </h5>
                    <br />
                </div>
                <div class="alert alert-success" role="alert" *ngIf="auction.auctionStatus === 'ACCEPT'">
                    <mat-icon matSuffix><i class="fa fa-exclamation-circle" style="color: green;" aria-hidden="false"></i>
                    </mat-icon>
                    Parabéns! Você aceitou essa oferta de trabalho!
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="auction.auctionStatus === 'REPROVED'">
                    <mat-icon matSuffix><i class="fa fa-exclamation-circle" style="color: red;" aria-hidden="false"></i>
                    </mat-icon>
                    Atenção! Você recusou essa oferta de trabalho!
                </div>
                <div class="justify-content-center col-md-12" *ngIf="auction.auctionStatus === 'SENT'">
                    <button mat-raised-button class="col-md-6 py-3 px-lg-5 mat-success" (click)="handleUpdateOffer(true)">
                        Aceitar&nbsp;<mat-icon>check_circle</mat-icon>
                    </button>
                    <button mat-raised-button color="warn" class="col-md-6 py-3 px-lg-5" (click)="handleUpdateOffer(false)">
                        Recusar&nbsp;<mat-icon>unpublished</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<notifier-container></notifier-container>