<div mat-dialog-title>
    <div class="row">
        <div class="col-10">
            <i class="fas fa-map-marked-alt"></i> Cadastro de Locais de Evento
        </div>
        <div class="col-2">
            <a color="primary" class="float-right" [mat-dialog-close]="true" aria-label="Fechar" matTooltip="Fechar">
                <i class="fas fa-times fa-xs"></i>
            </a>
        </div>
    </div>
</div>

<div mat-dialog-content>
    <div class="row">
        <mat-form-field class="col-8">
            <input matInput type="text" placeholder="Nome do Local" [(ngModel)]="Nome" />
        </mat-form-field>
        <div class="col-12">
            <h5>Localização</h5>
        </div>
        <mat-form-field class="col-3">
            <input matInput type="text" placeholder="CEP" [(ngModel)]="CEP" mask="00000-000" [dropSpecialCharacters]="false" />
        </mat-form-field>
        <mat-form-field class="col-6">
            <input matInput type="text" placeholder="Endereço" [(ngModel)]="Endereco" />
        </mat-form-field>
        <mat-form-field class="col-3">
            <input matInput type="number" placeholder="Número" [(ngModel)]="Numero" />
        </mat-form-field>
        <mat-form-field class="col-4">
            <input matInput type="text" placeholder="Bairro" [(ngModel)]="Bairro" />
        </mat-form-field>
        <mat-form-field class="col-4">
            <input matInput type="text" placeholder="Cidade" [(ngModel)]="Cidade" />
        </mat-form-field>
        <mat-form-field class="col-4">
            <input matInput type="text" placeholder="Estado" [(ngModel)]="Estado" />
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput type="text" placeholder="Referência" [(ngModel)]="Referencia" />
        </mat-form-field>
    </div>
</div>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onAddEventPlaceButtonClicked()">{{this.isUPDATE == true ?
        'Alterar' : 'Adicionar'}}</button>
</mat-dialog-actions>

<notifier-container></notifier-container>